.lmrtfy.lmrtfy-parchment .window-content {
	background: url(../images/parchment.jpg);
	padding: 5px;
}

/* request-rolls.html */
.lmrtfy .lmrtfy-actor-avatars input[type=checkbox] {
	display:none;
}
.lmrtfy.lmrtfy-parchment input[type=checkbox] {
	display:none;
}
.lmrtfy.lmrtfy-parchment select,
.lmrtfy.lmrtfy-parchment input[type=text] {
	background-color: rgba(220, 200, 160, 0.5);
}

.lmrtfy input[type=checkbox] + label {
	flex: 1;
}
.lmrtfy.lmrtfy-parchment input[type=checkbox] + label {
	margin: 3px;
}
.lmrtfy.lmrtfy-parchment input[type=checkbox]:checked + label {
	margin: 2px;
	color: red;
	font-weight: bold;
}

.lmrtfy-actor-avatars {
	justify-content: center;
}
.lmrtfy-actor-avatars > div {
	position: relative;
	flex: 0 0 45px;
}
.lmrtfy-actor-avatars img {
	width: 45px;
	height: 45px;
	transition-duration: 0.2s;
	transform-origin: 50% 50%;
}
.lmrtfy-actor-avatars input:checked + label img {
	transform: scale(0.9);
	box-shadow: 0 0 5px #ff0000;
}

form .form-group .lmrtfy-ability-checks,
form .form-group .lmrtfy-saving-throws,
form .form-group .lmrtfy-extras {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.lmrtfy-parchment form .form-group .lmrtfy-ability-checks,
.lmrtfy-parchment form .form-group .lmrtfy-saving-throws,
.lmrtfy-parchment form .form-group .lmrtfy-extras {
	flex-wrap: nowrap;
}

form .form-group .lmrtfy-skill-checks {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-evenly;
	max-height: 220px;
	flex: 8;
}
.lmrtfy-parchment form .form-group .lmrtfy-skill-checks {
	max-height: 200px;
}

.lmrtfy-ability-checks > div,
.lmrtfy-saving-throws > div,
.lmrtfy-skill-checks > div ,
.lmrtfy-extras > div {
	flex: 3;
	padding: 4px;
	display: flex;
}

.lmrtfy-submit {
		text-align: center;
}
.lmrtfy-request-roll,
.lmrtfy-save-roll {
	text-align: center;
}

.lmrtfy-parchment .lmrtfy-request-roll,
.lmrtfy-parchment .lmrtfy-save-roll {
	background: url(../images/button.png);
	background-repeat: no-repeat ;
	background-size: 100% 100%;
	color: black;
	height: 40px;
	width: 200px;
}
.select-all,
.deselect-all {
	flex: 1;
}
.lmrtfy-parchment .select-all,
.lmrtfy-parchment .deselect-all {
	background-color: rgba(220, 200, 160, 0.75);
	border-radius: 10px;
}


/* Roller.html */
.lmrtfy-avatar {
	text-align: center;
	margin: 2px;
}
.lmrtfy-avatar img {
	width: 64px;
	height: 64px;
}

.lmrtfy-actor-list {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.lmrtfy-actor-list > div {
	flex: 0 0 64px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.lmrtfy-ability-check,
.lmrtfy-ability-save,
.lmrtfy-skill-check,
.lmrtfy-custom-formula,
.lmrtfy-initiative,
.lmrtfy-death-save,
.lmrtfy-perception {
	height: 48px;
	text-align: center;
	margin-top: 4px;
}
.lmrtfy-parchment .lmrtfy-ability-check,
.lmrtfy-parchment .lmrtfy-ability-save,
.lmrtfy-parchment .lmrtfy-skill-check,
.lmrtfy-parchment .lmrtfy-custom-formula,
.lmrtfy-parchment .lmrtfy-initiative,
.lmrtfy-parchment .lmrtfy-death-save,
.lmrtfy-parchment .lmrtfy-perception {
	background: url(../images/button.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: black;
	height: 78px;
}

.lmrtfy-roller button:disabled {
	opacity: 0.5;
}

.lmrtfy-actor .tooltip {
	display: block;
	min-width: 148px;
	height: 26px;
	padding: 2px 4px;
	position: absolute;
	top: -32px;
	left: -50px;
	background: rgba(0, 0, 0, 0.9);
	border: 1px solid #191813;
	border-radius: 3px;
	color: #f0f0e0;
	line-height: 22px;
	text-align: center;
	white-space: nowrap;
	word-break: break-all;
}
