.lmrtfy .window-content {
	background: url(../images/parchment.jpg);
	padding: 5px;
}

/* request-rolls.html */
.lmrtfy input[type=checkbox] {
    display:none;
}
.lmrtfy select,
.lmrtfy input[type=text] {
    background-color: rgba(220, 200, 160, 0.5);
}

.lmrtfy input[type=checkbox] + label {
	margin: 3px;
	flex: 1;
}
.lmrtfy input[type=checkbox]:checked + label {
	margin: 2px;
	color: red;
	font-weight: bold;
} 

.lmrtfy-actor-avatars {
	justify-content: center;
}
.lmrtfy-actor-avatars > div {
	flex: 0 0 45px;
}
.lmrtfy-actor-avatars img {
    width: 45px;
	height: 45px;
	transition-duration: 0.2s;
	transform-origin: 50% 50%;
}
.lmrtfy-actor-avatars input:checked + label img {
	transform: scale(0.9);
	box-shadow: 0 0 5px #ff0000;
}

form .form-group .lmrtfy-ability-checks,
form .form-group .lmrtfy-saving-throws,
form .form-group .lmrtfy-extras {
	display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
}

form .form-group .lmrtfy-skill-checks {
	display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    max-height: 200px;
    flex: 8;
}

.lmrtfy-ability-checks > div,
.lmrtfy-saving-throws > div,
.lmrtfy-skill-checks > div ,
.lmrtfy-extras > div {
    flex: 3;
	padding: 4px;
	display: flex;
}

.lmrtfy-submit {
    text-align: center;
}

.lmrtfy-request-roll,
.lmrtfy-save-roll {
	background: url(../images/button.png); 
	background-repeat: no-repeat ;  
	background-size: 100% 100%;
	color: black;
	height: 40px;
	text-align: center ;
	width: 200px;
}
.select-all,
.deselect-all {
	background-color: rgba(220, 200, 160, 0.75);
	border-radius: 10px;
	flex: 1;
}


/* Roller.html */
.lmrtfy-avatar {
	text-align: center;
	margin: 2px;
}
.lmrtfy-avatar img {
	width: 64px;
	height: 64px;
}

.lmrtfy-actor-list {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.lmrtfy-actor-list > div {
	flex: 0 0 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lmrtfy-ability-check,
.lmrtfy-ability-save,
.lmrtfy-skill-check,
.lmrtfy-custom-formula,
.lmrtfy-initiative,
.lmrtfy-death-save {
	background: url(../images/button.png) ; 
	background-repeat: no-repeat ;  
	background-size: 100% 100%;
	color: black;
	height: 78px;
	text-align: center;
}

.lmrtfy-roller button:disabled {
    opacity: 0.5;
}