
<form autocomplete="off" onsubmit="event.preventDefault();">
    <fieldset>
        <div class="form-group">
            <label>Select User:</label>

            <select name="user" data-dtype="String">
                <option value="">Controlled characters</option>
                {{#each users}}
                    <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label>Select characters:</label>
            <button type="button" class="select-all"><i class="fas fa-check-square"></i> All</button>
            <button type="button" class="deselect-all"><i class="fas fa-square"></i> None</button>
        </div>
        <div class="form-group lmrtfy-actor-avatars">
        {{#each actors}}
            <div class="lmrtfy-actor" data-id="{{this.id}}">
                <input type="checkbox" name="actor-{{this.id}}" id="actor-{{this.id}}" data-dtype="Boolean" checked />
                <label for="actor-{{this.id}}"><img src="{{this.img}}" data-toggle="tooltip" data-placement="top" title="{{this.name}}" /></label>
            </div>
        {{/each}}
        </div>
    </fieldset>
   
    <fieldset>
    <div class="form-group">
        <label>Modifiers:</label>
        
        <select name="advantage" data-dtype="Number">
            <option value="0">Normal Roll</option>
            <option value="1">Advantage</option>
            <option value="-1">Disadvantage</option>
        </select>

        <select name="mode" data-dtype="String">
            {{#each rollModes as |name mode|}}
            <option value="{{mode}}">{{localize name}}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-group">
        <label>Title :</label>
        <input type="text" name="title" value="Get Rolling!" data-dtype="String"/>
    </div>
    <div class="form-group">
        <label>Message :</label>
        <input type="text" name="message" value="" placeholder="Roll to see if you find any traps.. " data-dtype="String"/>
    </div>
    </fieldset>
 
    <fieldset>
    <div class="form-group">
        <label>Ability Checks:</label>
        
        <div class="lmrtfy-ability-checks">
            {{#each abilities as |name key|}}
            <div class="lmrtfy-ability">
                <input type="checkbox" name="check-{{key}}" id="check-{{key}}" data-dtype="Boolean" />
                <label for="check-{{key}}">{{name}}</label>
                
            </div>
            {{/each}}
        </div>
    </div>
    </fieldset>
     
    <fieldset>
    <div class="form-group">
        <label>Saving Throws:</label>
        
        <div class="lmrtfy-saving-throws">
            {{#each abilities as |name key|}}
            <div class="lmrtfy-ability">
                <input type="checkbox" name="save-{{key}}" id="save-{{key}}" data-dtype="Boolean" />
                <label for="save-{{key}}">{{name}}</label>            
            </div>
            {{/each}}
        </div>
    </div>
    </fieldset>
   
    <fieldset>
        <div class="form-group">
            <label>Skill Checks: </label>
            <div class="lmrtfy-skill-checks">
                {{#each skills as |name key|}}
                <div class="lmrtfy-skill">
                    <input type="checkbox" name="skill-{{key}}" id="skill-{{key}}" data-dtype="Boolean" />
                    <label for="skill-{{key}}">{{name}}</label>
                </div>
                {{/each}}
            </div>
        </div>
    </fieldset>

    <div class="lmrtfy-submit">
        <button type="submit" class="lmrtfy-request-roll" name="submit" value="1"><i class="fas fa-dice"></i> Request roll!</button>
    </div>
</form>
