<div class="lmrtfy-dialog">
    <div class="lmrtfy-roller-intro">
        <span>{{localize "LMRTFY.RollerIntro"}}</span>
    </div>
    <div class="lmrtfy-actor-list">
        {{#each actors}}
            <div class="lmrtfy-avatar">
                <img src="{{this.img}}"/>
                <strong><em>{{this.name}}</em></strong>
            </div>
        {{/each}}
    </div>
    {{#if message}}
    <div class="lmrtfy-reason">
        <span><strong>{{localize "LMRTFY.Reason}}</strong> {{message}}</span>
    </div>
    {{/if}}
    
    <div class="lmrtfy-note">{{note}}</div>

    {{#each abilities as |name ability|}}
    <div>
        <button type="button" class="lmrtfy-ability-check" data-ability={{ability}}>{{localize "LMRTFY.AbilityCheck"}} {{name}}</button>
    </div>
    {{/each}}
    {{#each saves as |name ability|}}
    <div>
        <button type="button" class="lmrtfy-ability-save" data-ability="{{ability}}">{{localize "LMRTFY.SavingThrow"}} {{name}}</button>
    </div>
    {{/each}}
    {{#each skills as |name skill|}}
    <div>
        <button type="button" class="lmrtfy-skill-check" data-skill="{{skill}}">{{localize "LMRTFY.SkillCheck"}} {{name}}</button>
    </div>
    {{/each}}
</div>