<div class="lmrtfy-dialog">
    <div class="lmrtfy-roller-intro">
        <span>{{localize "LMRTFY.RollerIntro"}}</span>
    </div>
    <div class="lmrtfy-actor-list">
        {{#each actors}}
            <div class="lmrtfy-avatar">
                <img src="{{this.img}}"/>
                <strong><em>{{this.name}}</em></strong>
            </div>
        {{/each}}
    </div>
    {{#if message}}
    <div class="lmrtfy-reason">
        <span><strong>{{localize "LMRTFY.Reason"}}</strong> {{message}}</span>
    </div>
    {{/if}}

    {{#if chooseOne}}
    <div class="lmrtfy-choose-one">
        <span><strong>{{localize "LMRTFY.ChooseOne"}}</strong></span>
    </div>
    {{/if}}
    
    <div class="lmrtfy-note">{{note}}</div>

    {{#each abilities as |name ability|}}
    <div>
        {{#if (lmrtfy-isdemonlord this)}}<button type="button" class="lmrtfy-ability-check" data-ability={{ability}}>{{localize "LMRTFY.DemonLordChallengeRoll"}} {{localize name}}</button> />{{else}} <button type="button" class="lmrtfy-ability-check" data-ability={{ability}}>{{localize "LMRTFY.AbilityCheck"}} {{localize name}}</button>/>{{/if}}        
    </div>
        {{#canFailAbilityChecks name ability}}
        {{/canFailAbilityChecks}}
    {{/each}}
    {{#each saves as |name ability|}}
    <div>
        <button type="button" class="lmrtfy-ability-save" data-ability="{{ability}}">{{localize "LMRTFY.SavingThrow"}} {{localize name}}</button>
    </div>
        {{#canFailSaveChecks name ability}}
        {{/canFailSaveChecks}}
    {{/each}}
    {{#each skills as |name skill|}}
    <div>
        <button type="button" class="lmrtfy-skill-check" data-skill="{{skill}}">{{localize "LMRTFY.SkillCheck"}} {{localize name}}</button>
    </div>
        {{#canFailSkillChecks name skill}}
        {{/canFailSkillChecks}}
    {{/each}}
    {{#if customFormula}}
    <div>
        <button type="button" class="lmrtfy-custom-formula" data-formula="{{customFormula}}">{{localize "LMRTFY.CustomFormula"}} {{customFormula}}</button>
    </div>
    {{/if}}
    {{#if initiative}}
    <div>
        <button type="button" class="lmrtfy-initiative">{{localize "LMRTFY.Initiative"}}</button>
    </div>
    {{/if}}
    {{#if deathsave}}
    <div>
        <button type="button" class="lmrtfy-death-save">{{localize "LMRTFY.DeathSave"}}</button>
    </div>
    {{/if}}
    {{#if perception}}
    <div>
        <button type="button" class="lmrtfy-perception">{{localize "LMRTFY.Perception"}}</button>
    </div>
    {{/if}}
    {{#if tables}}
    {{#each tables as |table|}}
    <div>
        <button type="button" class="lmrtfy-roll-table" data-table="{{table}}">{{localize "LMRTFY.RollTables"}} {{table}}</button>
    </div>
    {{/each}}
    {{/if}}    
</div>
